html, body, div, input, script, a, h1, h2, h3,
h4, h5, h6, table, tr, th, td{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background-image: linear-gradient(rgb(10, 10, 10), rgb(10, 10, 10), rgb(92, 2, 2));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1000px){

    /* #region ALERT*/
    #div-fade-alert{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.644);
        position: fixed;
        z-index: 999;
        transition: .2s ease-in;
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    #div-alert{
        width: 400px;
        height: fit-content;
        background-color: #fff;
        margin-top: -150px;
        border-radius: 15px;
        flex-wrap: wrap;
        box-shadow: 3px 3px 5px #ffffff23;
        
        font-family: 'agency fb';
    }
    
    #div-alert-title,
    #div-alert-area,
    #div-alert-btn{
        width: inherit;
        display: flex;
        box-sizing: border-box;
    }
    #div-alert-title{
        height: 50px;
        background-color: #2e2e2e;
        border-radius: 10px 10px 0 0;
        border-bottom: solid 1px #777777;

        font-size: 20px;
        font-weight: bold;
        color: #cac6c6;
    }

    #div-alert-area{
        height: fit-content;
        min-height: 60px;
        background-color: #1f1f1f;
        align-items: center;
        justify-content: left;
        padding: 10px;

        font-size: 19px;
        color: #ffffff;
        text-align: justify;
    }
    #div-alert-btn{
        height: 50px;
        background-color: #2c2c2c;
        border-radius: 0 0 10px 10px;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20px;
        border-top: solid 1px #777777;
    }
    #btn-alert-ok{
        width: 70px;
        height: 30px;
        border-radius: 5px;
        background-color: #2a79e0;
        border: none;
        transition: .2s ease-in;
        cursor: pointer;

        font-size: 15px;
        color: #ffffff;
    }
    #btn-alert-ok:hover{
        transition: .2s ease-in;
        background-color: #478de7;
    }
    /* #endregion */

    .all{
        height: 100%;
        width: 100%;
    }
    .indented{
        width: calc(500px * 1.4);
        height: calc(280px * 1.6);
        background-color: rgba(0, 0, 0, 0);
        /* background-color: rgba(238, 57, 57, 0.904); */
        position: relative;
        top: 100px;
        flex-wrap: wrap;
        border-radius: 15px;
        margin: auto;
    }
    
    .caixa-textarea{
        width: calc(400px * 1.5);
        height: fit-content;
        /* background-color: #6ee221; */
        flex-wrap: wrap;
    }
    
    #caixa-btn-make-copy-pwd{
        width: inherit;
        height: 35px;
        margin: 5px;    
    }

    #btn-make-pwd, #btn-copy-pwd{
        width: 100px;
        height: 35px;
        cursor: pointer;
        outline: none;
        border-radius: 5px;
        transition: .2s ease-out;
        margin-left: 5px;
        
        font-family: 'agency fb';
        font-size: 18px;
    }
    
    .btn-make-pwd, .btn-copy-pwd{
        color: #ffffff;
    }
    .btn-make-pwd{
        background-color: #19191a;
        border: outset 2px #dd4422;
    }
    .btn-copy-pwd{
        background-color: #19191a;
        border: outset 2px #2368c2;
    }
    
    .btn-make-pwd:hover, .btn-copy-pwd:hover{
        background-color: #1f1f1f;
        border: solid 3px #ffffff;
        transition: .2s ease-in;
    }

    #btns-hash{
        width: calc(400px * 1.45);
        height: calc(50px * 1.45);
    }
    .btns{
        width: calc(80px * 1.45);
        height: calc(40px * 1.45);
        margin: calc(5px * 1.45);
        border-radius: calc(7px * 1.45);
        box-sizing: border-box;
        cursor: pointer;
        transition: .2s ease-in;
        outline: none;

        font-family: "agency fb";
        font-weight: bold;
        font-size: calc(18px * 1.45);
        color: #ededed;
    }
    .btns:hover{
        transition: .2s ease-out;
    }
    .btns:active{
        outline: none;
    }

    .btn-MD5,
    .btn-SHA1,
    .btn-SHA256,
    .btn-SHA512{
        background-color: rgb(31, 31, 31);
        border: double 5px;
    }
    .btn-MD5{
        border-color: #6ee221;
        box-shadow: 0px 0px 3px #6ee221;
    }
    .btn-SHA1{
        border-color: #fdf900;
        box-shadow: 0px 0px 3px #fdf900;
    }
    .btn-SHA256{
        border-color: #fd8700;
        box-shadow: 0px 0px 3px #fd8700;
    }
    .btn-SHA512{
        border-color: #ff0000;
        box-shadow: 0px 0px 3px #f51f1f;
    }

    .btn-MD5:hover,
    .btn-SHA1:hover,
    .btn-SHA256:hover,
    .btn-SHA512:hover{
        background-color: #242424de;
        color: #cecece;
        font-size: calc(18px * 1.27)
    }
    .btn-MD5:hover{
        border: double 8px #64be10de;
    }
    .btn-SHA1:hover{
        border: double 8px #beb210de;
    }
    .btn-SHA256:hover{
        border: double 8px #be6d10de;
    }
    .btn-SHA512:hover{
        border: double 8px #be1010de;
    }

    .btn-activated{
        background-color: #ffffff3a;
        border: groove 5px;
        color: #efefef;
    }

    .hash-textarea{
        resize: none;
        /* box-shadow: 2px 2px 3px #545454; */
        border: none;
        /* border-bottom: solid 1px; */
        padding: 5px;
        outline: none;

        font-family: "agency fb";
        box-sizing: border-box;
        font-size: calc(20px * 1.6);
        color: #efefef;
    }
    #input{
        width: calc(280px * 1.6);
        height: calc(40px * 1.6);
        font-weight: bold;
        background-color: #8181813d;
        border-radius: 10px 0px 0px 10px;
    }

    .btn-disabled{
        background-color: #55535354;
        border: ridge 4px #b3b3b36b;
        color: #ffffff69;
        cursor: unset;
        transition: .2s ease-in-out;
        /* transform: scale() */
    }
    #btn-view-pwd{
        width: calc(40px * 1.6);
        height: calc(40px * 1.6);
        border-radius: 10px;
        border-width: 4px;
        margin-left: 10px;
        transition: .2s ease-in-out;
        cursor: pointer;
        outline: none;
        box-sizing: border-box;

    }
    .btn-view-pwd{
        background-color: rgb(31, 31, 31);
    }
    .btn-view-pwd:hover{
        background-color: rgb(73, 72, 72);
        transition: .2s ease-in-out;
    }
    #icon-view-pwd{
        max-width: calc(25px * 1.6);
        max-height: calc(25px * 1.6);
        position: relative;
        /* top: -6px;  */
    }



    #btn-erase-pwd{
        width: calc(40px * 1.6);
        height: calc(40px * 1.6);
        background-color: #8181813d;
        transition: .2s ease-in-out;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 0px 10px 10px 0px;
    }

    #btn-erase-pwd:hover{
        background-color: #81818165;
        transition: .2s ease-in-out;
        /* border: ridge 2px #11E7EA; */
    }
    #icon-erase-pwd{
        max-width: calc(25px * 1.6);
        max-height: calc(25px * 1.6);
        position: relative;
        /* top: -3px; /* com tag figure */
    }

    #hash{
        width: calc(320px * 1.6);
        height: calc(120px * 1.6);
        background-color: #8181813d;
        border-radius: 15px 15px 0 0;
    }
    #btn-copy-hash{
        width: calc(320px * 1.6);
        height: 30px;

        border: none;
        transition: .2s ease-in;
        cursor: pointer;
        outline: none;

        font-family: 'agency fb';
        font-size: 15px;
    }
    .btn-copy-hash{
        background-color: #8181813d;
        border-radius: 0 0 15px 15px;
        color: #dedede;
    }
    .btn-copy-hash:hover{
        /* transition: .2s ease-in; */
        background-color: #81818159;
    }
    .btn-copy-hash-disabled{
        background-color: #81818159;
        border-radius: 0 0 15px 15px;
        color: #5c5b5b;
    }

}
@media screen and (max-device-width: 800px), screen and (max-width: 1000px){
    
    .all{
        width: 100%;
        height: 2%;
        /* background-color: #6ee221; */
    }
    
    .indented{
        width: 100%;
        height: 500px;
        /* background-color: rgba(243, 105, 105, 0.918); */
        position: relative;
        top: 100px;
        flex-wrap: wrap;
        border-radius: 15px;
    }

    .caixa-textarea{
        width: 85%;
        height: fit-content;
        /* background-color: teal; */
        flex-wrap: wrap;
    }

    .hash-textarea{
        resize: none;
        /* box-shadow: 2px 2px 3px #545454; */
        border: none;
        /* border-bottom: solid 1px; */
        padding: 7px;
        outline: none;

        font-family: "agency fb";
        box-sizing: border-box;
        font-size: calc(20px * 1.6);
        color: #efefef;
    }
    #input{
        width: 80%;
        height: 65px;
        font-weight: bold;
        background-color: #81818146;
        border-radius: 10px 0px 0px 10px;
    }

    .btn-disabled{
        background-color: #55535354;
        border: ridge 4px #b3b3b36b;
        color: #ffffff69;
        cursor: unset;
        transition: .2s ease-in-out;
        /* transform: scale() */
    }
    .btn-view-pwd{
        background-color: rgb(31, 31, 31);
    }
    #btn-view-pwd{
        width: calc(40px * 1.6);
        height: calc(40px * 1.6);
        border-radius: 10px;
        border-width: 4px;
        margin-top: 5px;
        transition: .2s ease-in-out;
        cursor: pointer;
        outline: none;
        box-sizing: border-box;

    }
    #icon-view-pwd{
        max-width: calc(25px * 1.6);
        max-height: calc(25px * 1.6);
        position: relative;
        top: -6px; 
    }
    
    #btn-erase-pwd{
        width: 20%;
        height: 65px;
        background-color: #81818146;
        transition: .2s ease-in-out;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 0px 10px 10px 0px;
    }

    #icon-erase-pwd{
        max-width: 45px;
        max-height: 45px;
        position: relative;
        top: -4px;
    }



    #btns-hash{
        width: 90%;
        height: 130px;
        /* background-color: #2a97aa; */
        flex-wrap: wrap;
    }
    .btns{
        width: 40%;
        height: 60px;
        margin: 3px;
        border-radius: 10px;
        box-sizing: border-box;
        cursor: pointer;
        transition: .2s ease-in;
        outline: none;

        font-family: "agency fb";
        font-weight: bold;
        font-size: calc(18px * 1.45);
        color: #ededed;
    }
    .btns:active{
        outline: none;
    }

    .btn-MD5,
    .btn-SHA1,
    .btn-SHA256,
    .btn-SHA512{
        background-color: rgb(31, 31, 31);
        border: double 3px;
    }
    .btn-MD5{
        border-color: #6ee221;
        box-shadow: 0px 0px 3px #6ee221;
    }
    .btn-SHA1{
        border-color: #fdf900;
        box-shadow: 0px 0px 3px #fdf900;
    }
    .btn-SHA256{
        border-color: #fd8700;
        box-shadow: 0px 0px 3px #fd8700;
    }
    .btn-SHA512{
        border-color: #ff0000;
        box-shadow: 0px 0px 3px #f51f1f;
    }

    .btn-activated{
        background-color: #ffffff3a;
        border: groove 5px;
        color: #efefef;
    }

    #hash{
        width: calc(320px * 1.6);
        height: calc(120px * 1.6);
        background-color: #81818146;
        border-radius: 15px;
    }

}